* {
	box-sizing: border-box;
	/* transition: all ease-in-out 100ms; */
}

body {
	margin: 0;
    font-family: "Pixelify Sans", serif;
    font-size: 32px;
    color:#323232;
    background-color: #FFC97C;
}

h1 {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 0.75em;
}

button {
    font-family: "Pixelify Sans", serif;
    font-size: 0.75em;
    color:#323232;
    border: none;
    border-radius: 80px;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}

img {
    max-width: 100%;
    height: auto;
}

#image_container {
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: end;
}

#content_container {
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
    overflow: hidden;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.duck{
    width: 7em;
}
